@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../../Fonts/Raleway/raleway-v13-latin-300.eot');
    src: local('Raleway Light'), local('Raleway-Light'), url('../../fonts/raleway-v13-latin-300.eot?#iefix') format('embedded-opentype'), url('../../Fonts/Raleway/raleway-v13-latin-300.woff2') format('woff2'), url('../../Fonts/Raleway/raleway-v13-latin-300.woff') format('woff'), url('../../Fonts/Raleway/raleway-v13-latin-300.ttf') format('truetype'), url('../../Fonts/Raleway/raleway-v13-latin-300.svg#Raleway') format('svg');
}


@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.eot);
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url('../../fonts/open-sans-condensed-v13-latin-300.eot?#iefix') format('embedded-opentype'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.woff2') format('woff2'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.woff') format('woff'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.ttf') format('truetype'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.svg#OpenSansCondensed') format('svg');
}

.section {
    background-size: cover;
    background-position: center;
    z-index: -1;
    text-align: center;
}

#p1 {
    text-align: left;
}

    #p1 #main {
        height: 500px;
        margin-top: calc(45vh - 15vw);
        position: relative;
        left: 20%;
    }

        #p1 #main #p1_bottle {
            max-height: 610px;
        }

        #p1 #main #p1_text {
            display: inline-block;
            color: #023668;
            width: 500px;
            line-height: 170%;
            margin-left: 10%;
            position: relative;
            top: 80px;
        }

        #p1 #main h1 {
            font-family: 'Open Sans Condensed', sans-serif;
            display: inline-block;
            font-size: 45px;
        }

        #p1 #main b {
            margin-top: 5px;
            display: inline-block;
        }

        #p1 #main #p1_text p {
            font-family: Raleway, sans-serif;
            margin: 0px;
            font-size: 18px;
        }


#p2 {
    text-align: left;
    background-image: url(/Images/bg_bpower_orange.jpg);
}

    #p2 #p2_text {
        display: inline-block;
        color: #023668;
        width: 500px;
        line-height: 170%;
        margin-left: 10%;
        position: relative;
    }

        #p2 #p2_text h1 {
            font-family: 'Open Sans Condensed', sans-serif;
            display: inline-block;
            font-size: 45px;
        }

        #p2 #p2_text p {
            font-family: Raleway, sans-serif;
            margin: 0px;
            font-size: 18px;
        }

        #p2 #p2_text b {
            font-size: 25px;
            margin-top: 5px;
            display: inline-block;
        }

#p3 {
    text-align: left;
    background-image: url(/Images/bg_bpower_s3.jpg);
}

    #p3 #p3_text {
        display: inline-block;
        color: #023668;
        width: 600px;
        line-height: 170%;
        position: relative;
        right: 10%;
        float: right;
        bottom: 20%;
    }

        #p3 #p3_text h1 {
            font-family: 'Open Sans Condensed', sans-serif;
            display: inline-block;
            font-size: 45px;
        }

        #p3 #p3_text p {
            font-family: Raleway, sans-serif;
            margin: 0px;
            font-size: 18px;
        }

#p4 {
    text-align: left;
    background-image: url(/Images/bg_bpower_s4.jpg);
}

    #p4 #p4_text {
        display: inline-block;
        color: #023668;
        width: 600px;
        line-height: 170%;
        position: relative;
        right: 20%;
        float: right;
    }

        #p4 #p4_text h1 {
            font-family: 'Open Sans Condensed', sans-serif;
            display: inline-block;
            font-size: 45px;
        }

        #p4 #p4_text p {
            font-family: Raleway, sans-serif;
            margin: 0px;
            font-size: 18px;
        }

@media only screen and (max-width: 1800px) {
    #p1 #main #p1_bottle {
        max-height: 570px;
    }
}

@media only screen and (max-width: 1500px) {
    #p1 #main #p1_bottle {
        max-height: 550px;
    }
}

@media only screen and (max-width: 1300px) {
    #p1 #main #p1_bottle {
        max-height: 500px;
    }
}

@media only screen and (max-width: 1268px) {
    #p1 #main #p1_bottle {
        max-height: 400px;
    }
}

@media only screen and (max-width: 1024px) {
    #p1 #main #p1_bottle {
        max-height: 320px;
    }

    #p1 #main #p1_text {
        display: inline-block;
        color: #023668;
        width: 380px;
        line-height: 170%;
        margin-left: 10%;
        position: relative;
        top: 80px;
    }

    #p1 #main h1 {
        font-family: 'Open Sans Condensed', sans-serif;
        display: inline-block;
        font-size: 40px;
    }

    #p1 #main #p1_text p {
        font-family: Raleway, sans-serif;
        margin: 0px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    #p1 #main {
        text-align: center;
        height: 500px;
        margin-top: 0;
        position: relative;
        left: 0;
    }

        #p1 #main #p1_text {
            padding: 0px 25px;
            color: #023668;
            line-height: 170%;
            position: relative;
            width: auto;
            margin-left: 0;
        }

        #p1 #main #p1_bottle {
            position: absolute;
            bottom: 0%;
            left: 25%;
            max-height: 200px;
        }

        #p1 #main #p1_text h1 {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 40px;
        }

        #p1 #main #p1_text p {
            font-family: Raleway, sans-serif;
            font-size: 16px;
        }
}

@media only screen and (max-width: 768px) {
    #p2 {
        text-align: center;
    }

        #p2 #p2_text {
            display: inline-block;
            color: #023668;
            width: auto;
            line-height: 170%;
            margin-left: 0;
            position: relative;
            padding: 0px 30px;
            bottom: 15%;
        }

            #p2 #p2_text h1 {
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 40px;
            }

            #p2 #p2_text p {
                font-family: Raleway, sans-serif;
                font-size: 16px;
            }

    #p3 {
        text-align: center;
    }

        #p3 #p3_text {
            display: inline-block;
            color: #023668;
            width: auto;
            line-height: 170%;
            margin-left: 0;
            position: relative;
            padding: 50px 40px;
            right: 0;
            float: none;
            bottom: 25%;
        }

            #p3 #p3_text h1 {
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 40px;
            }

            #p3 #p3_text p {
                font-family: Raleway, sans-serif;
                font-size: 16px;
            }

    #p4 {
        text-align: center;
    }

        #p4 #p4_text {
            display: inline-block;
            color: #023668;
            width: auto;
            line-height: 170%;
            margin-left: 0;
            position: relative;
            padding: 0px 40px;
            right: 0;
            float: none;
            bottom: 15%;
        }

            #p4 #p4_text h1 {
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 40px;
            }

            #p4 #p4_text p {
                font-family: Raleway, sans-serif;
                font-size: 16px;
            }
}
