@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../../Fonts/Raleway/raleway-v13-latin-300.eot');
    src: local('Raleway Light'), local('Raleway-Light'), url('../../fonts/raleway-v13-latin-300.eot?#iefix') format('embedded-opentype'), url('../../Fonts/Raleway/raleway-v13-latin-300.woff2') format('woff2'), url('../../Fonts/Raleway/raleway-v13-latin-300.woff') format('woff'), url('../../Fonts/Raleway/raleway-v13-latin-300.ttf') format('truetype'), url('../../Fonts/Raleway/raleway-v13-latin-300.svg#Raleway') format('svg');
}


@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.eot);
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url('../../fonts/open-sans-condensed-v13-latin-300.eot?#iefix') format('embedded-opentype'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.woff2') format('woff2'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.woff') format('woff'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.ttf') format('truetype'), url('../../Fonts/OpenSans/open-sans-condensed-v13-latin-300.svg#OpenSansCondensed') format('svg');
}

.section {
    background-size: cover;
    background-position: center;
    z-index: -1;
    text-align: center;
    color: #fff;
}

#p1 {
    text-align: left;
}

    #p1 h1 {
        font-family:'Open Sans Condensed',sans-serif;
        width: 41vw;
        color: #fff;
        right: -55%;
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        font-size: 2.2vw !important;
        position: relative;
    }

    #p1 p {
        font-family: Raleway, sans-serif;
        width: 41vw;
        color: #fff;
        top: -1%;
        right: -55%;
        border-bottom-right-radius: 25px;
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        position: relative;
        font-size: 1.2vw;
    }

#p2 {
    text-align: left;
}

    #p2 h1 {
        font-family: 'Open Sans Condensed',sans-serif;
        padding: 10px;
        color: #fff;
        left: 4%;
        width: 40%;
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        font-size: 2.2vw !important;
        position: relative;
    }

    #p2 p {
        font-family: Raleway, sans-serif;
        padding: 10px;
        color: #fff;
        top: -1%;
        left: 4%;
        width: 40%;
        border-bottom-right-radius: 25px;
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        position: relative;
        text-align: left;
        font-size: 1.2vw;
    }

#p3 {
    text-align: left;
}

    #p3 h1 {
        font-family: 'Open Sans Condensed',sans-serif;
        padding: 10px;
        color: #fff;
        left: 4%;
        width: 40%;
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        font-size: 2.2vw !important;
        position: relative;
    }

    #p3 p {
        font-family: Raleway, sans-serif;
        padding: 10px;
        color: #fff;
        top: -1%;
        left: 4%;
        width: 40%;
        border-bottom-right-radius: 25px;
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        position: relative;
        text-align: left;
        font-size: 1.2vw;
    }

#p4 {
    text-align: left;
}

    #p4 h1 {
        font-family: 'Open Sans Condensed',sans-serif;
        width: 45vw;
        left: 28%;
        right: 28%;
        transform: translate(0,0);
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        font-size: 2.2vw !important;
        position: relative;
    }

    #p4 p {
        font-family: Raleway, sans-serif;
        width: 45vw;
        top: -1%;
        left: 55%;
        transform: translate(-60%, 0%);
        border-bottom-right-radius: 25px;
        background-color: rgba(0,0,0,0.3);
        padding: 10px;
        position: relative;
        text-align: left;
        font-size: 1.2vw;
    }


#mobile_p1 {
    text-align: left;
}

    #mobile_p1 .p1_container {
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #mobile_p1 .p1_mobiletext {
        display: inline-block;
        color: #023668;
        width: auto;
        line-height: 170%;
        position: relative;
    }

        #mobile_p1 .p1_mobiletext h1 {
            font-family: 'Open Sans Condensed',sans-serif;
            font-size: 26px;
            padding: 0px 20px;
        }

        #mobile_p1 .p1_mobiletext p {
            font-family: Raleway, sans-serif;
            font-size: 16px;
            padding: 0px 20px;
        }


#mobile_p2 {
    text-align: left;
}

    #mobile_p2 .p2_container {
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #mobile_p2 .p2_mobiletext {
        display: inline-block;
        color: #023668;
        width: auto;
        line-height: 170%;
        position: relative;
    }

        #mobile_p2 .p2_mobiletext h1 {
            font-family: 'Open Sans Condensed',sans-serif;
            font-size: 26px;
            padding: 0px 20px;
        }

        #mobile_p2 .p2_mobiletext p {
            font-family: Raleway, sans-serif;
            font-size: 16px;
            padding: 0px 20px;
        }


#mobile_p3 {
    text-align: left;
}

    #mobile_p3 .p3_container {
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #mobile_p3 .p3_mobiletext {
        display: inline-block;
        color: #023668;
        width: auto;
        line-height: 170%;
        position: relative;
    }

        #mobile_p3 .p3_mobiletext h1 {
            font-family: 'Open Sans Condensed',sans-serif;
            font-size: 26px;
            padding: 0px 20px;
        }

        #mobile_p3 .p3_mobiletext p {
            font-family: Raleway, sans-serif;
            font-size: 16px;
            padding: 0px 20px;
        }


#mobile_p4 {
    text-align: left;
}

    #mobile_p4 .p4_container {
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #mobile_p4 .p4_mobiletext {
        display: inline-block;
        color: #023668;
        width: auto;
        line-height: 170%;
        position: relative;
    }

        #mobile_p4 .p4_mobiletext h1 {
            font-family: 'Open Sans Condensed',sans-serif;
            font-size: 26px;
            padding: 0px 20px;
        }

        #mobile_p4 .p4_mobiletext p {
            font-family: Raleway, sans-serif;
            font-size: 16px;
            padding: 0px 20px;
        }

#mobilecontainer {
    display: none;
}

@media only screen and (max-width: 768px) {
    #mobilecontainer {
        display: block;
    }

    #fullpage {
        display: none;
    }
}
