<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <remove name="SQLConnectionString"/>
    <add name="SQLConnectionString" connectionString="Data Source=10.140.0.3,1433;Initial Catalog=projdb;Integrated Security=False;User ID=sa;Password=Skyjade2019"
      providerName="System.Data.SqlClient"/>



    <!--add name="SQLConnectionString" connectionString="Data Source=DESKTOP-F048FF5\SQLEXPRESS;Initial Catalog=projdb;Integrated Security=True"
          providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>

    <staticContent>
      
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
    </staticContent>
    <!--rewrite>
      <rules>
        <rule name="RewriteASPX">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.ASPX"/>
        </rule>
        
      </rules>
    </rewrite-->
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" />
    <!--urlMappings enabled="true">
      <add url="~/Index" mappedUrl="~/Index.aspx"/>
      <add url="~/Story" mappedUrl="~/Story.aspx"/>
      <add url="~/FAQ" mappedUrl="~/FAQ.aspx"/>
      <add url="~/AustralianLife" mappedUrl="~/AustralianLife.aspx"/>
    </urlMappings-->
  </system.web>

</configuration>
